@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto+Condensed:wght@300&display=swap');

.listado {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }

  .formu {
    background-color: white;
    width: 900px;
    border-radius: 8px;
    padding: 30px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
  }
td {
  width: 480px;
  max-width: 480px;
  overflow: hidden;
}
.submitBoton {
  background-color: #4CAF50; /* verde */
  border: none;
  color: white;
  padding: 5px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
}
.submitBotonEliminar {
  background-color: #f44336; /* Rojo */
  border: none;
  color: white;
  padding: 5px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
}

.submitBoton:hover {
  background-color: #1100ff;
  transform: translateY(2px);
}
.submitBotonEliminar:hover {
  background-color: #1100ff;
  transform: translateY(2px);
}